<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="lazyLoadingEnabled" value="false" />
		<setting name="useColumnLabel" value="true" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="defaultStatementTimeout" value="25000" />
		<setting name="logPrefix" value="mapper." />
	</settings>

	<!-- mybatis映射文件中所用到的别名配置 -->
	<typeAliases>
		<package name="com.coe.wms" />
		 
	</typeAliases>

	<plugins>
		<plugin interceptor="com.fpx.mybatis.plugin.PagePlugin">
			<property name="dialect" value="MYSQL" />
			<!-- 拦截要分页的selectId -->
			<property name="pageSqlId" value=".*select.*List.*|.*\.page*|query.*List" />
		</plugin>
	</plugins>

	<!-- mybatis映射文件路径 -->
	<mappers>
	</mappers>
</configuration>

