.clear-float::after{display:block;content: '';height: 0;line-height: 0;clear: both;}
/*标签纸打印宽度*/
.print-page-label{width:100mm;margin: 0 auto;}

/*A4打印宽度设置*/
.print-page-a4{width:210mm;margin: 0 auto;}

/*A4打印标签之间距离*/
.mt-per-label{margin-top: 1mm;margin-left:2mm;}
/*分页命令*/
.change-page{page-break-after: always;font: 12px 'Microsoft Yahei';color: #000;}

/*上下0 左右1mm*/
.per-page-a4{margin: 0 1mm;}

/*每个标签的宽高 (不论是A4还是label 打印)*/
.label-100-100{border:1px solid  #000;width: 96mm;height: 94mm;}

.label-100-150{border:1px solid  #000;width: 96mm;height: 146mm;}

.label-100-70{border:1px solid  #000;width: 96mm;height: 68mm;}

.label-100-60{border:1px solid  #000;width: 96mm;height: 60mm;}

.a4-100-100{border:1px solid  #000;width: 96mm;height: 90mm;}

/*a4样式 ,打印捡货单专用. 不控制整体高度,防止有物品信息没打全*/
.a4-for-packagelist{border:0px solid  #000;width: 206mm;margin-top: 1mm;}

/*通用样式*/
body{font-family:"Arial",sans-serif;margin: 0;padding: 0; -webkit-text-size-adjust:none;} /* "微软雅黑", "宋体", Arial, sans-serif;*/
.pull-left{float: left;}
.pull-right{float: right;}
.va-middle{vertical-align: middle;}
.ml2{margin-left: 2px;}
.ml5{margin-left: 5px;}
.ml10{margin-left: 10px}
.ml15{margin-left: 15px}
.ml40{margin-left: 40px;}
.ml48{margin-left: 45px;}

.mt3{margin-top: 3px;}
.mt5{margin-top: 5px;}
.mt7{margin-top: 7px;}
.mt7{margin-top: 7px;}
.mt_1mm{margin-top: 1mm;}
.mt_2mm{margin-top: 2mm;}

.mr5{margin-right: 5px;}
.mr10{margin-right: 10px;}
.mr18{margin-right: 18px;}
.mr20{margin-right: 20px;}

.ml_2mm{margin-left: 2mm;}
.ml_20{margin-left: 20%;}
.ml_35{margin-left: 35%;}

.fw-bold{font-weight: bold;}
.wid_48{width: 48%;}
.wid275{width: 275px;}
.mt1{margin-top: 1px;}


.fs12{font-size: 12px;}
.fs14{font-size: 14px;}
.fs16{font-size: 16px;}

.widAll{width: 100%;}
.ta-center{text-align: center;}

