body{font-family: "微软雅黑","宋体",Arial,sans-serif;font-size: 12px;color: #000;}
.isUse{float: right;margin-right: 10px;}
.orderFilter{margin-top: 10px;}
a{color:#317EAC;text-decoration:none;}
a:hover{color:#0000ff;text-decoration:underline;}
#preview{height: 280px;}
#leftMsg a:active {
    background-color: #2492FF;
    background-image: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    outline: 0 none;
}
#leftMsg a:hover{
    background-color: #cce3fe;
    background-image: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    outline: 0 none;
}
.h4{
    margin: 0;
    font-family: 'Telex',sans-serif;
    font-weight: bold;
    color: #317EAC;
    text-rendering: optimizelegibility;
    font-size: 12px;
    line-height: 18px;
}
.r4{
    margin: 0;
    font-family: 'Telex',sans-serif;
    font-weight: bold;
    color: #ff0000;
    text-rendering: optimizelegibility;
    font-size: 12px;
    line-height: 18px;
}
#rightMsg{display: none;}
#filterRule,#filterAction,#isUsing{margin-left: 30px;}
#btn{float:right;margin-right: 10px;}
#btn_add{margin-bottom: 5px;margin-left: 20px;}
#maintainHeight{height: 600px;}
#rightMsg{margin-left:10px;height: 595px;}
#leftMsg{margin-left:10px;height: 590px;font-size: 16px;font-family: tahoma;}
.input1{width: 150px;}
.input2{width: 40px;margin-left: 5px;}
.span1{margin-left: 5px;}
.span3{margin-left: 8px;}
#btn_del{margin-left: 10px;}
input[type='checkbox']{cursor: pointer;}
.badge{padding:1px 9px 2px;font-size:12.025px;font-weight:bold;white-space:nowrap;color:#ffffff;background-color:#999999;-webkit-border-radius:9px;-moz-border-radius:9px;border-radius:9px;}
.badge-success{background-color:#669533;}
.pull-left{float: left;}
.pull-right{float: right;}
.address{color: #2492FF;}
.address1{background-color:#cce3fe;height: 15px;}
hr{border: 1px solid #cce3fe}
.btn_content{color: #ffffff}

#sellerAccount{margin-left: 282px;}
#buyerId,#country{margin-left: 214px;}
#state,#city,#zip{margin-left: 190px;}
#sku{margin-left: 194px;}
#weight,#productTotalPrice{margin-left: 270px;}
#orderTotalPrice{margin-left: 282px;}
#warehouse,#shipway{margin-left: 235px;}
#statuss{margin-left: 247px;}
#labell{margin-left: 223px;}

.btn {
    font-family:tahoma;
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: #CCCCCC #CCCCCC #B3B3B3;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 0;
    padding: 3px 6px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}

.btn:active {
    background-color: #E6E6E6;
    background-image: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    outline: 0 none;
}
.btn-small {
    font-size: 11px;
    line-height: 16px;
    padding: 3px 6px;
}
.btn-small [class^="icon-"] {
    margin-top: -1px;
}
.btn-primary {
    background-color: #368BD7;
    background-image: -moz-linear-gradient(center top , #369BD7, #3673D7);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-success {
    background-color: #65A643;
    background-image: -moz-linear-gradient(center top , #73A839, #51A351);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-danger {
    background-color: #C32627;
    background-image: -moz-linear-gradient(center top , #C71C22, #BD362F);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

