body{font-family:"微软雅黑",sans-serif;font-size:12px;margin: 0;padding: 0; -webkit-text-size-adjust:none;} /* "微软雅黑", "宋体", Arial, sans-serif;*/
.pull-left{float: left;}
.pull-right{float: right;}
.widAll{width: 100%;}
.ml5{margin-left: 5px;}
.ml10{margin-left: 10px}
.mr5{margin-right: 5px;}
.mr10{margin-right: 10px;}
.mt3{margin-top: 3px;}
.mt7{margin-top: 7px;}
.fs15{font-size: 15px;}
.fs18{font-size: 18px;}
.fw-bold{font-weight: bold;}
.ta-center{text-align: center;}
.change-page{page-break-after: always;}
.print-page-label{width:98mm;margin: 0 auto;}
.print-page-a4{width:210mm;margin: 0 auto;}
.per-page-a4{margin: 0 4mm;}
.mt-per-label{margin-top: 2mm;margin-left: 1mm;}

.auram-label-101-76-2{border:1px dashed #ccc;width: 96.5mm;height: 70.5mm;}

.auram-label-101-76-2 .label-top{float: left;width: 100%;height: 15%;border-bottom: 1px solid #333;}
.auram-label-101-76-2 .label-middle{float: left;width: 100%;height: 50%;border-bottom: 1px solid #333;}
.auram-label-101-76-2 .label-bottom{float: left;width: 100%;}
.auram-label-101-76-2 .barcode{width: 345px;height:95px;margin-left: 10px;}
.auram-label-101-76-2 .trackingNo{margin-left: 55px;font-size: 14px;}
.auram-label-101-76-2 .label-bottom-left{width: 40%;height:34%;border-right: 1px solid #333;}
.auram-label-101-76-2 .label-bottom-right{width: 59%;height:34%;}
.auram-label-101-76-2 .pic_1{width: 135px;height: 95%;margin: 2px 0 0 5px;}
.auram-label-101-76-2 .lbr-part1{border-bottom: 1px solid #333;height: 75%;width: 100%;}
.auram-label-101-76-2 .pic_2{width: 96%;height: 96%;margin: 2px 0 0 5px;}