body{font-family:"微软雅黑",sans-serif;font-size:12px;margin: 0;padding: 0; -webkit-text-size-adjust:none;} /* "微软雅黑", "宋体", Arial, sans-serif;*/
.pull-left{float: left;}
.pull-right{float: right;}
.widAll{width: 100%;}
.ml5{margin-left: 5px;}
.ml10{margin-left: 10px}
.mr10{margin-right: 10px;}
.mt3{margin-top: 3px;}
.mt7{margin-top: 7px;}
.fs15{font-size: 15px;}
.fs18{font-size: 18px;}
.fw-bold{font-weight: bold;}
.ta-center{text-align: center;}
.change-page{page-break-after: always;}
.print-page-label{width:98mm;margin: 0 auto;}
.print-page-a4{width:210mm;margin: 0 auto;}
.per-page-a4{margin: 0 4mm;}
.mt-per-label{margin-top: 2mm;margin-left: 1mm;}

.ausam-label-101-76{border:1px dashed #ccc;width: 96.5mm;height: 70.5mm;}

.ausam-label-101-76 .label-top{float:left;width: 100%;height: 30%;}
.ausam-label-101-76 .label-middle{float:left;width: 100%;height: 33%;}
.ausam-label-101-76 .label-bottom{float:left;width: 100%;}
.ausam-label-101-76 .label-top-right{width: 50%;}
.ausam-label-101-76 .ltr-content{border: 1px solid #000;width: 110px;height: 60px;margin-top: 5px;margin-left:75px;}
.ausam-label-101-76 .img1{margin: 5px;width: 146px;height: 51px;}
.ausam-label-101-76 .img2{margin-left: 8px;width: 60px;height: 50px;}
.ausam-label-101-76 .img3{width: 55px;height: 30px;}
.ausam-label-101-76 .address{margin-left: 80px;}
.ausam-label-101-76 .barcode{width: 160px;height: 55px;margin-left: 96px;}
.ausam-label-101-76 .trackingNo{margin-left: 100px;}
.ausam-label-101-76 .img3-div{margin: 55px 0 0 25px;}