body{font-family:"微软雅黑",sans-serif;font-size:12px;margin: 0;padding: 0; -webkit-text-size-adjust:none;} /* "微软雅黑", "宋体", Arial, sans-serif;*/
.pull-left{float: left;}
.pull-right{float: right;}
.widAll{width: 100%;}
.ml5{margin-left: 5px;}
.ml10{margin-left: 10px}
.mr10{margin-right: 10px;}
.mt3{margin-top: 3px;}
.mt7{margin-top: 7px;}
.fs18{font-size: 18px;}
.fw-bold{font-weight: bold;}
.change-page{page-break-after: always;}
.print-page-label{width:98mm;margin: 0 auto;}
.print-page-a4{width:210mm;margin: 0 auto;}
.per-page-a4{margin: 0 4mm;}
.mt-per-label{margin-top: 2mm;margin-left: 1mm;}

.cnram-label-101-76{border:1px dashed #ccc;width: 96.5mm;height: 70.5mm;}

.cnram-label-101-76 .label-top{float:left;width: 100%;}

.cnram-label-101-76 .label-bottom{float:left;width: 100%;height: 14%;}
.cnram-label-101-76 .division-line{border: 1px dashed #ccc;width: 100%;float: left;margin: 2px 0 2px 0;}
.cnram-label-101-76 .label-top-part1{height: 21%; border-bottom:1px solid #000;}
.cnram-label-101-76 .label-top-part2{height: 10%; border-bottom:1px solid #000;}
.cnram-label-101-76 .label-top-part3{height: 12%; border-bottom:1px solid #000;}
.cnram-label-101-76 .label-top-part4{height: 32%; border-bottom:1px solid #000;}
.cnram-label-101-76 .label-top-part5{height: 25%; border-bottom:0px solid #000;}


.cnram-label-101-76 .mirp-coe{height: 43px;width: 125px;}
.cnram-label-101-76 .label-bottom-part1{width: 49%;}
.cnram-label-101-76 .label-bottom-part2{width: 49%;}
.cnram-label-101-76 .receiverAddress{width: 90%;}