body{font-family:"微软雅黑",sans-serif;font-size:12px;margin: 0;padding: 0; -webkit-text-size-adjust:none;} /* "微软雅黑", "宋体", Arial, sans-serif;*/
.pull-left{float: left;}
.pull-right{float: right;}
.widAll{width: 100%;}
.ml5{margin-left: 5px;}
.ml10{margin-left: 10px}
.mr10{margin-right: 10px;}
.mt3{margin-top: 3px;}
.mt7{margin-top: 7px;}
.fs14{font-size: 14px;}
.fs16{font-size: 16px;}
.fs18{font-size: 18px;}
.fw-bold{font-weight: bold;}
.lh12{line-height: 12px;}
.change-page{page-break-after: always;}
.print-page-label{width:98mm;margin: 0 auto;}
.print-page-a4{width:210mm;margin: 0 auto;}
.per-page-a4{margin: 0 4mm;}
.mt-per-label{margin-top: 2mm;margin-left: 1mm;}
.of-hide{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;*text-overflow: ellipsis;}

.hlp-label-101-76{border:1px dashed #ccc;width: 96.5mm;height: 70.5mm;}

.hlp-label-101-76 .label-left{float: left;width: 50%;padding-top: 16%;}
.hlp-label-101-76 .label-right{float: right;width: 50%;}
.hlp-label-101-76 .hlp-logo{width: 120px;height: 65px;}
.hlp-label-101-76 .label-bottom-left{margin-left: 1px;}
.hlp-label-101-76 .hlp-from{font-weight: bold;font-size: 14px;margin-left:8px;}
.hlp-label-101-76 .hlp-from-1{height:32%;font-size: 12px;line-height: 14px;margin-left:8px;}
.hlp-label-101-76 .pic-hlp-logo2{height: 50px;}
.hlp-label-101-76 .barcode{width: 180px;}
.hlp-label-101-76 .trackingNo{margin-left: 3px;}
.hlp-label-101-76 .shipway{font-size: 13px;margin-left: 3px;}
.hlp-label-101-76 .hlp-to{font-weight: bold;font-size: 14px;margin-left: 40px;}
.hlp-label-101-76 .address{height: 20%;margin: 5px 0;}
.hlp-label-101-76 .ref{font-size: 12px;margin-left: 10px;}
.hlp-label-101-76 .pic-hlp-logo2 img{width: 162px;height: 45px;}
.hlp-label-101-76 .label-bottom-right{width: 100%;}