body{font-family:"微软雅黑",sans-serif;font-size:12px;margin: 0;padding: 0; -webkit-text-size-adjust:none;} /* "微软雅黑", "宋体", Arial, sans-serif;*/
.pull-left{float: left;}
.pull-right{float: right;}
.widAll{width: 100%;}
.ml5{margin-left: 5px;}
.ml10{margin-left: 10px}
.mr10{margin-right: 10px;}
.mt3{margin-top: 3px;}
.mt7{margin-top: 7px;}
.fs18{font-size: 18px;}
.fw-bold{font-weight: bold;}
.change-page{page-break-after: always;}
.print-page-label{width:98mm;margin: 0 auto;}
.print-page-a4{width:210mm;margin: 0 auto;}
.per-page-a4{margin: 0 4mm;}
.mt-per-label{margin-top: 2mm;margin-left: 1mm;}

.ltup-label-101-76{border:1px dashed #ccc;width: 96.5mm;height: 70.5mm;}

.ltup-label-101-76 .label-top{float: left;width: 100%;}
.ltup-label-101-76 .label-middle{float: left;width: 100%;}
.ltup-label-101-76 .label-bottom{float: left;width: 100%;margin-top: 3px;}
.ltup-label-101-76 .label-top-from{border: 1px solid #ccc;width: 147px;height: 55px;margin: 2px 0 0 2px;}
.ltup-label-101-76 .label-top-priority{border: 1px solid #ccc;width: 100px;height: 55px;margin: 2px 0 0 2px;}
.ltup-label-101-76 .ltp-content{font-size: 20px;font-weight: bold;margin: 15px 0 0 1px;}
.ltup-label-101-76 .label-top-part3{border: 1px solid #ccc;width: 105px;height: 55px;margin: 2px 0 0 2px;}
.ltup-label-101-76 .label-top-part3 img{margin: 5px 0 0 10px;}
.ltup-label-101-76 .label-middle-content{border: 1px solid #ccc;height: 100px;width: 80%;margin-top: 2px;margin-left: 10%;}
.ltup-label-101-76 .lmc-part1{height: 30%;}
.ltup-label-101-76 .lmc-part2{height: 54%;}
.ltup-label-101-76 .receiverName{width: 100%;text-overflow: ellipsis;white-space: nowrap;overflow:hidden;}
.ltup-label-101-76 .lbp-r{font-weight: bold;font-size: 60px;margin: 0 10px 0 10px;}
.ltup-label-101-76 .barcode img{width: 245px;height: 65px;}
.ltup-label-101-76 .trackingNo{margin-top: -15px;margin-left: 25%;}
.ltup-label-101-76 .ref{margin-left: 15px;}
.ltup-label-101-76 .label-top-part3 img{width: 84px;height: 44px;}
.ltup-label-101-76 .label-top-from img{width: 145px;height: 52px;}

.ltup-label-101-76 .buyerId {
	width:125px;
	text-overflow:ellipsis;
	overflow:hidden;
	height:20px;
}
.ltup-label-101-76 .productName {
	width:222px;
	text-overflow:ellipsis;
	overflow:hidden;
	height:20px;
}
