body{font-family:"微软雅黑",sans-serif;margin: 0;padding: 0; -webkit-text-size-adjust:none;} /* "微软雅黑", "宋体", Arial, sans-serif;*/
.pull-left{float: left;}
.pull-right{float: right;}
.ml10{margin-left: 10px}
.mr10{margin-right: 10px;}
.mt3{margin-top: 3px;}
.mt7{margin-top: 7px;}
.change-page{page-break-after: always;}
.print-page-label{width:98mm;margin: 0 auto;}
.print-page-a4{width:210mm;margin: 0 auto;}
.per-page-a4{margin: 0 4mm;}
.mt-per-label{margin-top: 2mm;margin-left: 1mm;}

.customs-ltram-101-76{border:1px solid #000;width: 96.5mm;height: 70.5mm;}

/*------------------------*/
.ml2{margin-left: 2px;}
.mt2{margin-top: 2px;}
.ml5{margin-left: 5px;}
.ml40{margin-left: 40px;}
.ml48{margin-left: 45px;}
.mr5{margin-right: 5px;}
.mb5{margin-bottom: 5px;}
.mr18{margin-right: 18px;}
.mr20{margin-right: 20px;}
.ml_20{margin-left: 20%;}
.ml_35{margin-left: 35%;}
.fw-bold{font-weight: bold;}
.wid_48{width: 48%;}
.wid275{width: 275px;}
.mt1{margin-top: 1px;}
.fs10{font-size: 10px;}
.fs12{font-size: 12px;}
.fs14{font-size: 14px;}
.fs16{font-size: 16px;}
.widAll{width: 99%;}

.customs-ltram-101-76 .part1{float:left;width: 100%;height: 13mm;border-bottom: 1px solid #000;}
.customs-ltram-101-76 .part2{float: left;width: 100%;height: 5mm;border-bottom: 1px solid #000;}
.customs-ltram-101-76 .part3{float: left;width: 100%;border-bottom: 1px solid #000;font-size: 8px;}
.customs-ltram-101-76 .part3_1,.customs-ltram-101-76.part3_3,.customs-ltram-101-76.part3_2,.customs-ltram-101-76.part3_4{float:left;padding-left: 5px;}
.customs-ltram-101-76 .customsType{font-size:10px;line-height: 12px;vertical-align:middle;text-align: left;}
.customs-ltram-101-76 .part2_1_text{font-size:11px;line-height: 12px;vertical-align:middle;text-align: left;}
.customs-ltram-101-76 .part4{float:left;width: 100%;height: auto;}
.customs-ltram-101-76 table{text-align: left;width: 100%;font-size: 8px;}
.customs-ltram-101-76 td{line-height: 10px !important;font-size: 8px !important;}
.customs-ltram-101-76 .td_1{padding: 2px 0 0 2px}
.customs-ltram-101-76 .autoLineFeed img{margin: 2px 0 0 2px}
.customs-ltram-101-76 .totalWeight,.customs-ltram-101-76 .totalWeight{margin-top: 2px;}
.customs-ltram-101-76 .tr_1{height: 20px;}
.customs-ltram-101-76 .tr_2{height:63px;}
.customs-ltram-101-76 .tr_3{height: 30px;}
.customs-ltram-101-76 .tr_4{height: 12px;}
.customs-ltram-101-76 .tr_5{height: 40px;}
.customs-ltram-101-76 .td_1{width: 63%;border-right: 1px solid #000;border-bottom: 1px solid #000}
.customs-ltram-101-76 .td_2{width: 18%;border-right: 1px solid #000;border-bottom: 1px solid #000}
.customs-ltram-101-76 .td_3{width: 18%;border-bottom: 1px solid #000;}
.customs-ltram-101-76 .autoLineFeed{word-wrap:break-word; overflow:hidden;width: 99%;}
.customs-ltram-101-76 .coe-text{font-size: 12px;margin-left: 15px;}
.customs-ltram-101-76 .coe{font-size: 8px;margin-left: 168px;}
.customs-ltram-101-76 .productInfo{width:200px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
.customs-ltram-101-76 .totalValue{white-space: nowrap;text-overflow: ellipsis;overflow:hidden;}
.customs-ltram-101-76 label{margin-top: 1px;}
.customs-ltram-101-76 .part1-left{width: 48%;}
.customs-ltram-101-76 .part1-right{width: 50%;}
.customs-ltram-101-76 .part1-left-postnl{font-weight: bold;font-size: 11px;padding-left: 1px;}



