body{font-family:"微软雅黑",sans-serif;font-size:12px;margin: 0;padding: 0; -webkit-text-size-adjust:none;} /* "微软雅黑", "宋体", Arial, sans-serif;*/
.pull-left{float: left;}
.pull-right{float: right;}
.widAll{width: 100%;}
.ml5{margin-left: 5px;}
.ml10{margin-left: 10px}
.mr10{margin-right: 10px;}
.mt3{margin-top: 3px;}
.mt7{margin-top: 7px;}
.fs18{font-size: 18px;}
.fw-bold{font-weight: bold;}
.change-page{page-break-after: always;}
.print-page-label{width:98mm;margin: 0 auto;}
.print-page-a4{width:210mm;margin: 0 auto;}
.per-page-a4{margin: 0 4mm;}
.mt-per-label{margin-top: 2mm;margin-left: 1mm;}

.mirp_ru-label-101-76{border:1px dashed #ccc;width: 96.5mm;height: 70.5mm;}

.mirp_ru-label-101-76 .label-top_ru{float:left;width: 100%;}
.mirp_ru-label-101-76 .label-bottom_ru{float:left;width: 100%;height: 14%;}
.mirp_ru-label-101-76 .division-line_ru{border: 1px dashed #ccc;width: 100%;float: left;margin: 2px 0 2px 0;}
.mirp_ru-label-101-76 .label-top-part1_ru{height: 30%;}
.mirp_ru-label-101-76 .label-top-part3_ru{margin-left:16%;width: 65%;border: 1px solid #ccc;}
.mirp_ru-label-101-76 .barcode_ru{margin-left: 9%;}
.mirp_ru-label-101-76 .barcode_ru img{width:195px; height:40px;}
.mirp_ru-label-101-76 .trackingNo-content_ru{border-top: 1px solid #ccc;}
.mirp_ru-label-101-76 .mirp_ru-coe_ru{height: 17px;width: 40px;}
.mirp_ru-label-101-76 .trackingNo_ru{margin-left: 20%;}
.mirp_ru-label-101-76 .label-bottom-part1_ru{width: 49%;}
.mirp_ru-label-101-76 .label-bottom-part2_ru{width: 49%;}
.mirp_ru-label-101-76 .receiverAddress_ru{width: 90%;}