<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="msgService" class="com.coe.message.api.service.impl.MsgServiceImplApi"></bean>
	<bean name="/msgService" class="org.springframework.remoting.caucho.HessianServiceExporter">
		<property name="service" ref="msgService"></property>
		<property name="serviceInterface" value="com.coe.message.api.service.IMsgServiceApi"></property>
	</bean>
</beans>