html {
	min-height:100%;
	height:100%;
	overflow:hidden;
}
body {
	font-size:12px;
	font-family:'Lucida Grande','Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;
	overflow-y:hidden;
	overflow-x:hidden;
	background:#000000;
	color:#333;
	margin:0;
	padding:0;
	min-height:100%;
	height:100%;
}
ol,ul {
	list-style:none;
}
ul,menu,dir {
	display:block;
	list-style-type:disc;
	-webkit-margin-before:1em;
	-webkit-margin-after:1em;
	-webkit-margin-start:0px;
	-webkit-margin-end:0px;
	-webkit-padding-start:40px;
}
.lable_check_all {
	background-image:url("../img/label/check.gif")
}
.lable_check_some {
	background-image:url("../img/label/check_s.gif")
}
.lable_check_none {
	background-image:url("../img/label/uncheck.gif")
}
li {
	display:list-item;
	text-align:-webkit-match-parent;
}
.navbar-top {
	*position:relative;
	*z-index:2;
	overflow:visible;
	margin-bottom:1px;
}
.navbar-inner_top {
/* 	padding-left:20px; */
	padding-right:5px;
	background-color:#50a8dc;
	background-image:-moz-linear-gradient(top,#61b0df,#369bd7);
	background-image:-ms-linear-gradient(top,#61b0df,#369bd7);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#61b0df),to(#369bd7));
	background-image:-webkit-linear-gradient(top,#61b0df,#369bd7);
	background-image:-o-linear-gradient(top,#61b0df,#369bd7);
	background-image:linear-gradient(top,#61b0df,#369bd7);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#61b0df',endColorstr='#369bd7',GradientType=0);
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
	box-shadow:0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
}
.divider-vertical_l {
	float:left;
	width:1px;
	border-right:1px solid #CBCFD5;
	border-left:1px solid #FDFDFE;
	margin-left:2px;
	margin-right:2px;
}
#wrapper {
	width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	min-height:100%;
	height:100%;
	overflow-x:hidden;
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,b,u,i,center,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
	margin:0;
	padding:0;
	border:0;
	vertical-align:baseline;
	background:transparent;
}
.h1,.h2,.h3,.h4,.h5,.h6 {
	margin:0;
	font-family:'Telex',sans-serif;
	font-weight:bold;
	color:#317EAC;
	text-rendering:optimizelegibility;
}
.h1 {
	font-size:30px;
	line-height:36px;
}
.h1 .small {
	font-size:18px;
}
.h2 {
	font-size:24px;
	line-height:36px;
}
.h2 .small {
	font-size:18px;
}
.h3 {
	line-height:27px;
	font-size:18px;
}
.h3 .small {
	font-size:14px;
}
.h4,.h5,.h6 {
	line-height:18px;
}
.h4 {
	font-size:14px;
}
.h4 .small {
	font-size:12px;
}
.h5 {
	font-size:12px;
}
.h6 {
	font-size:11px;
	color:#999999;
	text-transform:uppercase;
}
#main {
	position:relative;
	min-height:100%;
	height:100%;
	overflow-x:hidden;
	overflow-y:hidden;
}
#main-container {
	background:#FFFFFF;
	overflow-y:auto;
	overflow-x:hidden;
}
.i_all_toggle {
	color:gray;
/*	color:rgba(0, 0, 0, 1); */
	font-size:12px;
	font-weight:bold;
}
.i_all_toggle i {
	float:left;
}
.i_all_toggle .tlabel {
	float:left;
}
.io-toggle {
	margin-top:4px;
	cursor:pointer;
}
.i-toggle.open {
	background-position:0 0;
	height:8px;
}
.i-toggle.closed {
	background-position:0 -8px;
}
.i-toggle {
	float:left;
	background:url("../img/toggle.png") no-repeat;
	width:10px;
	height:10px;
	margin-left:0px;
	margin-top:7px;
	margin-right:5px;
	cursor:pointer;
}
#ul_label i {
	margin-top:3px;
	float:left;
}
.fixed {
	left:0;
	bottom:0;
	background:#E9EEF5;
} 
.btnicon:hover {
	background-color:#FFFFFF;
}
.ui-resizable-e {
	cursor:e-resize;
	width:7px;
	right:-5px;
	top:0;
	height:100%;
}
.ui-resizable-handle {
	position:absolute;
	z-index:99999;
	display:block;
}

.nav li {
	font-size:12px;
	text-transform:uppercase;
	font-weight:bold;
}
#main .toolbar {
	height:40px;
	line-height:40px;
	padding:0 10px 0 28px;
	white-space:nowrap;
	border-bottom:1px solid #C3C3C3;
	-webkit-box-shadow:0 1px 2px #eaeaea;
	-moz-box-shadow:0 1px 2px #eaeaea;
	box-shadow:0 1px 2px #eaeaea;
	background:#FEFEFE;
	background:-moz-linear-gradient(top,#FEFEFE 0,#F0F3F4 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#FEFEFE),color-stop(100%,#F0F3F4));
	background:-webkit-linear-gradient(top,#FEFEFE 0,#F0F3F4 100%);
	background:-o-linear-gradient(top,#FEFEFE 0,#F0F3F4 100%);
	background:-ms-linear-gradient(top,#FEFEFE 0,#F0F3F4 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe',endColorstr='#f0f3f4',GradientType=0);
	background:linear-gradient(top,#FEFEFE 0,#F0F3F4 100%);
}
.tbbar {
	height:25px;
	padding:2px 10px 5px 0;
	background-color:#FBFBFB;
	background-image:-moz-linear-gradient(top,white,whiteSmoke);
	background-image:-ms-linear-gradient(top,white,whiteSmoke);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(white),to(whiteSmoke));
	background-image:-webkit-linear-gradient(top,white,whiteSmoke);
	background-image:-o-linear-gradient(top,white,whiteSmoke);
	background-image:linear-gradient(top,white,whiteSmoke);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f5f5f5',GradientType=0);
	border:1px solid #DDD;
	-webkit-box-shadow:inset 0 1px 0 white;
	-moz-box-shadow:inset 0 1px 0 #ffffff;
	box-shadow:inset 0 1px 0 white;
}
DIV.digg {
	float:right;
	PADDING-RIGHT:3px;
	PADDING-LEFT:3px;
	TEXT-ALIGN:center
}
DIV.digg A {
	BORDER-RIGHT:#aaaadd 1px solid;
	PADDING-RIGHT:5px;
	BORDER-TOP:#aaaadd 1px solid;
	PADDING-LEFT:5px;
	PADDING-BOTTOM:2px;
	MARGIN:2px;
	BORDER-LEFT:#aaaadd 1px solid;
	COLOR:#50a8dc;
	PADDING-TOP:2px;
	BORDER-BOTTOM:#aaaadd 1px solid;
	TEXT-DECORATION:none
}
DIV.digg A:hover {
	BORDER-RIGHT:#000099 1px solid;
	BORDER-TOP:#000099 1px solid;
	BORDER-LEFT:#000099 1px solid;
	COLOR:#000;
	BORDER-BOTTOM:#000099 1px solid
}
DIV.digg A:active {
	BORDER-RIGHT:#000099 1px solid;
	BORDER-TOP:#000099 1px solid;
	BORDER-LEFT:#000099 1px solid;
	COLOR:#000;
	BORDER-BOTTOM:#000099 1px solid
}
DIV.digg SPAN.current {
	BORDER-RIGHT:#000099 1px solid;
	PADDING-RIGHT:5px;
	BORDER-TOP:#000099 1px solid;
	PADDING-LEFT:5px;
	FONT-WEIGHT:bold;
	PADDING-BOTTOM:2px;
	MARGIN:2px;
	BORDER-LEFT:#000099 1px solid;
	COLOR:#fff;
	PADDING-TOP:2px;
	BORDER-BOTTOM:#000099 1px solid;
	BACKGROUND-COLOR:#50a8dc
}
DIV.digg SPAN.disabled {
	BORDER-RIGHT:#eee 1px solid;
	PADDING-RIGHT:5px;
	BORDER-TOP:#eee 1px solid;
	PADDING-LEFT:5px;
	PADDING-BOTTOM:2px;
	MARGIN:2px;
	BORDER-LEFT:#eee 1px solid;
	COLOR:#ddd;
	PADDING-TOP:2px;
	BORDER-BOTTOM:#eee 1px solid
}
.hasError {
	color:red;
	font-weight:600
}
.status-shipWay-text{
    width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
}

.sep{
	border-radius: 4px 4px 0 0;
	border: 1px solid #ddd; 
	border-bottom:1px solid #FDFDFE;
	height:27px;
	background-color: #CCDDFF;
}

.browser-tip{width: 100%;background-color: #ccc;padding-left: 30%;}
.browser-tip-text{color: #ff0000;}
.browser-tip-download{text-decoration:underline;}
.browser-tip-download:hover{color: #ff8800;}
#order_menu{height: 65%;overflow-y: auto;}


.toolbar {
	height:40px;
	line-height:40px;
	padding:0 10px 0 28px;
	white-space:nowrap;
	border-bottom:1px solid #C3C3C3;
	-webkit-box-shadow:0 1px 2px #eaeaea;
	-moz-box-shadow:0 1px 2px #eaeaea;
	box-shadow:0 1px 2px #eaeaea;
	background:#FEFEFE;
	background:-moz-linear-gradient(top,#FEFEFE 0,#F0F3F4 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#FEFEFE),color-stop(100%,#F0F3F4));
	background:-webkit-linear-gradient(top,#FEFEFE 0,#F0F3F4 100%);
	background:-o-linear-gradient(top,#FEFEFE 0,#F0F3F4 100%);
	background:-ms-linear-gradient(top,#FEFEFE 0,#F0F3F4 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe',endColorstr='#f0f3f4',GradientType=0);
	background:linear-gradient(top,#FEFEFE 0,#F0F3F4 100%);
}
