<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.2.xsd
    http://code.alibabatech.com/schema/dubbo
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<!-- 提供方应用信息，用于计算依赖关系 -->
	<dubbo:application name="${dubbo.application.name}" />

	<!-- 使用zookeeper注册中心暴露服务地址 -->
	<dubbo:registry protocol="zookeeper" address="${dubbo.registry.address}" />

	<!-- 从注册中心发现监控中心地址-->
	<dubbo:monitor protocol="registry" />

	<!-- 用dubbo协议在xxx端口暴露服务 -->
	<dubbo:protocol name="dubbo" port="${dubbo.protocol.port}" />

	<!-- delay进行延迟暴露,配置超时时间,重试次数 -->
	<dubbo:provider delay="0" timeout="6000" retries="0" />

	
<!-- 扫描注解包路径，多个包用逗号分隔 -->
	<dubbo:annotation package="com.coe.wms.facade.symgmt.service.impl" />
	<!-- 扫描类包，将标注Spring注解的类自动转化Bean，同时完成Bean的注入 -->
	<!-- 必须先配置dubbo注解扫描再配置spring注解扫描否则dubbo注解无效 -->
	<context:component-scan base-package="com.coe.wms.*" />
	
	
	
</beans>