<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coe.fcs.service.user.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.coe.fcs.facade.user.entity.User" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_code" property="userCode" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_pwd" property="userPwd" jdbcType="VARCHAR" />
    <result column="user_phone" property="userPhone" jdbcType="VARCHAR" />
    <result column="user_email" property="userEmail" jdbcType="VARCHAR" />
    <result column="dict_is_emp" property="dictIsEmp" jdbcType="VARCHAR" />
    <result column="dict_sex" property="dictSex" jdbcType="VARCHAR" />
    <result column="dict_pos_status" property="dictPosStatus" jdbcType="VARCHAR" />
    <result column="site_id" property="siteId" jdbcType="BIGINT" />
    <result column="site_code" property="siteCode" jdbcType="VARCHAR" />
    <result column="dict_dept" property="dictDept" jdbcType="VARCHAR" />
    <result column="dict_position" property="dictPosition" jdbcType="VARCHAR" />
    <result column="dict_is_enable_right" property="dictIsEnableRight" jdbcType="VARCHAR" />
    <result column="create_operator" property="createOperator" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_operator" property="updateOperator" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Condition_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_code, user_name, user_pwd, user_phone, user_email, dict_is_emp, dict_sex, 
    dict_pos_status, site_id, site_code, dict_dept, dict_position, dict_is_enable_right, 
    create_operator, create_time, update_operator, update_time
  </sql>
  <select id="selectByConditionList" resultMap="BaseResultMap" parameterType="com.coe.fcs.facade.user.criteria.UserCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from u_user
    <if test="_parameter != null" >
      <include refid="Condition_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit>0" >
      limit ${start} , ${limit}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from u_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from u_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByCondition" parameterType="com.coe.fcs.facade.user.criteria.UserCriteria" >
    delete from u_user
    <if test="_parameter != null" >
      <include refid="Condition_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.coe.fcs.facade.user.entity.User" >
    insert into u_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userCode != null" >
        user_code,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userPwd != null" >
        user_pwd,
      </if>
      <if test="userPhone != null" >
        user_phone,
      </if>
      <if test="userEmail != null" >
        user_email,
      </if>
      <if test="dictIsEmp != null" >
        dict_is_emp,
      </if>
      <if test="dictSex != null" >
        dict_sex,
      </if>
      <if test="dictPosStatus != null" >
        dict_pos_status,
      </if>
      <if test="siteId != null" >
        site_id,
      </if>
      <if test="siteCode != null" >
        site_code,
      </if>
      <if test="dictDept != null" >
        dict_dept,
      </if>
      <if test="dictPosition != null" >
        dict_position,
      </if>
      <if test="dictIsEnableRight != null" >
        dict_is_enable_right,
      </if>
      <if test="createOperator != null" >
        create_operator,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateOperator != null" >
        update_operator,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userCode != null" >
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null" >
        #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null" >
        #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="dictIsEmp != null" >
        #{dictIsEmp,jdbcType=VARCHAR},
      </if>
      <if test="dictSex != null" >
        #{dictSex,jdbcType=VARCHAR},
      </if>
      <if test="dictPosStatus != null" >
        #{dictPosStatus,jdbcType=VARCHAR},
      </if>
      <if test="siteId != null" >
        #{siteId,jdbcType=BIGINT},
      </if>
      <if test="siteCode != null" >
        #{siteCode,jdbcType=VARCHAR},
      </if>
      <if test="dictDept != null" >
        #{dictDept,jdbcType=VARCHAR},
      </if>
      <if test="dictPosition != null" >
        #{dictPosition,jdbcType=VARCHAR},
      </if>
      <if test="dictIsEnableRight != null" >
        #{dictIsEnableRight,jdbcType=VARCHAR},
      </if>
      <if test="createOperator != null" >
        #{createOperator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateOperator != null" >
        #{updateOperator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByCondition" parameterType="com.coe.fcs.facade.user.criteria.UserCriteria" resultType="java.lang.Integer" >
    select count(*) from u_user
    <if test="_parameter != null" >
      <include refid="Condition_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.coe.fcs.facade.user.entity.User" >
    update u_user
    <set >
      <if test="userCode != null and userCode != '' " >
        user_code = #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="userName != null and userName != '' " >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null and userPwd != '' " >
        user_pwd = #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null and userPhone != '' " >
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null and userEmail != '' " >
        user_email = #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="dictIsEmp != null and dictIsEmp != '' " >
        dict_is_emp = #{dictIsEmp,jdbcType=VARCHAR},
      </if>
      <if test="dictSex != null and dictSex != '' " >
        dict_sex = #{dictSex,jdbcType=VARCHAR},
      </if>
      <if test="dictPosStatus != null and dictPosStatus != '' " >
        dict_pos_status = #{dictPosStatus,jdbcType=VARCHAR},
      </if>
      <if test="siteId != null" >
        site_id = #{siteId,jdbcType=BIGINT},
      </if>
      <if test="siteCode != null and siteCode != '' " >
        site_code = #{siteCode,jdbcType=VARCHAR},
      </if>
      <if test="dictDept != null and dictDept != '' " >
        dict_dept = #{dictDept,jdbcType=VARCHAR},
      </if>
      <if test="dictPosition != null and dictPosition != '' " >
        dict_position = #{dictPosition,jdbcType=VARCHAR},
      </if>
      <if test="dictIsEnableRight != null and dictIsEnableRight != '' " >
        dict_is_enable_right = #{dictIsEnableRight,jdbcType=VARCHAR},
      </if>
      <if test="createOperator != null and createOperator != '' " >
        create_operator = #{createOperator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null and createTime != '' " >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateOperator != null and updateOperator != '' " >
        update_operator = #{updateOperator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null and updateTime != '' " >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="countUserByVo" parameterType="com.coe.fcs.facade.user.queryvo.UserQueryVo" resultType="java.lang.Integer" >
    SELECT COUNT(DISTINCT(u.id))
	FROM u_user u
		LEFT JOIN s_user_group ug ON u.user_code = ug.user_code
		LEFT JOIN s_group sg  ON ug.group_code = sg.group_code
	WHERE 1=1 
	  <if test="userCode != null" >
        and u.user_code = #{userCode,jdbcType=VARCHAR}
      </if>
      <if test="userName != null" >
        and user_name like concat('%',#{userName,jdbcType=VARCHAR},'%')   
      </if>
      <if test="dictStatus != null" >
        and dict_status = #{dictStatus,jdbcType=TINYINT}
      </if>
      <if test="siteCode != null" >
        and site_code = #{siteCode,jdbcType=VARCHAR}
      </if>
      <if test="dictDept != null" >
        and dict_dept = #{dictDept,jdbcType=TINYINT}
      </if>
      <if test="dictPosition != null" >
        and dict_position = #{dictPosition,jdbcType=TINYINT}
      </if>
      <if test="dictIsEnableRight != null" >
        and dict_is_enable_right = #{dictIsEnableRight,jdbcType=INTEGER}
      </if>
      <if test="groupCode != null" >
        and ug.group_code = #{groupCode,jdbcType=VARCHAR}
      </if>
  </select>
  
  <select id="selectByVoList"  parameterType="com.coe.fcs.facade.user.queryvo.UserQueryVo" resultType="com.coe.fcs.facade.user.resultvo.UserResultVo" >
    SELECT 
		u.id AS id,
		u.user_code AS userCode,
		u.user_name AS userName,
		(SELECT item_value FROM `s_dict_item` WHERE item_code = u.dict_is_emp) AS isEmp,
		(SELECT item_value FROM `s_dict_item` WHERE item_code = u.dict_sex) AS sex,
		(SELECT item_value FROM `s_dict_item` WHERE item_code = u.dict_pos_status) AS posStatus,
		u.site_code AS siteCode,
		(SELECT item_value FROM `s_dict_item` WHERE item_code = u.dict_dept) AS dept,
		(SELECT item_value FROM `s_dict_item` WHERE item_code = u.dict_position) AS pos,
		GROUP_CONCAT(sg.group_name) AS groupName,
		u.create_operator AS createOperator,
		u.create_time AS createTime,
		u.update_operator AS updateOperator,
		u.update_time AS updateTime,
		(SELECT item_value FROM `s_dict_item` WHERE item_code = u.dict_is_enable_right) AS isEnableRight
	FROM u_user u
		LEFT JOIN s_user_group ug ON u.user_code = ug.user_code
		LEFT JOIN s_group sg  ON ug.group_code = sg.group_code
		WHERE 1=1 
	  <if test="userCode != null and userCode != '' " >
        and u.user_code = #{userCode,jdbcType=VARCHAR}
      </if>
      <if test="userName != null and userName != '' " >
        and u.user_name like concat('%',#{userName,jdbcType=VARCHAR},'%') 
      </if>
      <if test="dictStatus != null and dictStatus != '' " >
        and u.dict_pos_status = #{dictStatus,jdbcType=VARCHAR}
      </if>
      <if test="siteCode != null and siteCode != '' " >
        and u.site_code = #{siteCode,jdbcType=VARCHAR}
      </if>
      <if test="dictDept != null and  dictDept != '' " >
        and u.dict_dept = #{dictDept,jdbcType=VARCHAR}
      </if>
      <if test="dictPosition != null and dictPosition != '' " >
        and u.dict_position = #{dictPosition,jdbcType=VARCHAR}
      </if>
      <if test="dictIsEnableRight != null and dictIsEnableRight!= '' " >
        and u.dict_is_enable_right = #{dictIsEnableRight,jdbcType=VARCHAR}
      </if>
      <if test="groupCode != null and groupCode != '' " >
        and ug.group_code = #{groupCode,jdbcType=VARCHAR}
      </if>
      GROUP BY u.id
  </select>
 
  <select id="listUserNotPage"  parameterType="com.coe.fcs.facade.user.queryvo.UserQueryVo" resultType="com.coe.fcs.facade.user.resultvo.UserResultVo" >
    SELECT 
		u.id AS id,
		u.user_code AS userCode,
		u.user_name AS userName,
		(SELECT item_value FROM `s_dict_item` WHERE item_code = u.dict_is_emp) AS isEmp,
		(SELECT item_value FROM `s_dict_item` WHERE item_code = u.dict_sex) AS sex,
		(SELECT item_value FROM `s_dict_item` WHERE item_code = u.dict_pos_status) AS posStatus,
		u.site_code AS siteCode,
		(SELECT item_value FROM `s_dict_item` WHERE item_code = u.dict_dept) AS dept,
		(SELECT item_value FROM `s_dict_item` WHERE item_code = u.dict_position) AS pos,
		GROUP_CONCAT(sg.group_name) AS groupName,
		u.create_operator AS createOperator,
		u.create_time AS createTime,
		u.update_operator AS updateOperator,
		u.update_time AS updateTime,
		(SELECT item_value FROM `s_dict_item` WHERE item_code = u.dict_is_enable_right) AS isEnableRight
	FROM u_user u
		LEFT JOIN s_user_group ug ON u.user_code = ug.user_code
		LEFT JOIN s_group sg  ON ug.group_code = sg.group_code
		WHERE 1=1 
	  <if test="userCode != null and userCode != '' " >
        and u.user_code = #{userCode,jdbcType=VARCHAR}
      </if>
      <if test="userName != null and userName != '' " >
        and u.user_name like concat('%',#{userName,jdbcType=VARCHAR},'%') 
      </if>
      <if test="dictStatus != null and dictStatus != '' " >
        and u.dict_pos_status = #{dictStatus,jdbcType=VARCHAR}
      </if>
      <if test="siteCode != null and siteCode != '' " >
        and u.site_code = #{siteCode,jdbcType=VARCHAR}
      </if>
      <if test="dictDept != null and  dictDept != '' " >
        and u.dict_dept = #{dictDept,jdbcType=VARCHAR}
      </if>
      <if test="dictPosition != null and dictPosition != '' " >
        and u.dict_position = #{dictPosition,jdbcType=VARCHAR}
      </if>
      <if test="dictIsEnableRight != null and dictIsEnableRight!= '' " >
        and u.dict_is_enable_right = #{dictIsEnableRight,jdbcType=VARCHAR}
      </if>
      <if test="groupCode != null and groupCode != '' " >
        and ug.group_code = #{groupCode,jdbcType=VARCHAR}
      </if>
      GROUP BY u.id
  </select>
   
  <select id="getUserByUserCode" parameterType="java.lang.String" resultType="com.coe.fcs.facade.user.resultvo.UserResultVo" >
    select  distinct 
    user_code, 
    user_name,
    (select item_value from `s_dict_item` where item_code= dict_dept) AS dict_dept,
    user_phone,
    user_email
    from u_user
    where user_code=#{userCode,jdbcType=VARCHAR}
  </select>
  
  <select id="getAllUserCode" resultType="java.lang.String">
    select  distinct user_code from u_user where 1=1
  </select>
</mapper>