<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shixun.common.mapper.AccountHistoryMapper" >
  <resultMap id="BaseResultMap" type="com.shixun.common.entity.AccountHistory" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="account_no" property="accountNo" jdbcType="CHAR" />
    <result column="balance" property="balance" jdbcType="DECIMAL" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="fund_positive" property="fundPositive" jdbcType="BIT" />
    <result column="is_allow_sett" property="isAllowSett" jdbcType="BIT" />
    <result column="is_complete_sett" property="isCompleteSett" jdbcType="BIT" />
    <result column="request_no" property="requestNo" jdbcType="VARCHAR" />
    <result column="trx_type" property="trxType" jdbcType="VARCHAR" />
    <result column="risk_day" property="riskDay" jdbcType="SMALLINT" />
    <result column="bank_trx_no" property="bankTrxNo" jdbcType="VARCHAR" />
    <result column="trx_gateway" property="trxGateway" jdbcType="CHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Condition_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, account_no, balance, amount, fund_positive, is_allow_sett, is_complete_sett, 
    request_no, trx_type, risk_day, bank_trx_no, trx_gateway, remark, create_time, update_time
  </sql>
  <select id="selectByConditionList" resultMap="BaseResultMap" parameterType="com.shixun.common.entity.AccountHistoryCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_account_history
    <if test="_parameter != null" >
      <include refid="Condition_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit>0" >
      limit ${start} , ${limit}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_account_history
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_account_history
    where id = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByCondition" parameterType="com.shixun.common.entity.AccountHistoryCriteria" >
    delete from t_account_history
    <if test="_parameter != null" >
      <include refid="Condition_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.shixun.common.entity.AccountHistory" >
    insert into t_account_history
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="accountNo != null" >
        account_no,
      </if>
      <if test="balance != null" >
        balance,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="fundPositive != null" >
        fund_positive,
      </if>
      <if test="isAllowSett != null" >
        is_allow_sett,
      </if>
      <if test="isCompleteSett != null" >
        is_complete_sett,
      </if>
      <if test="requestNo != null" >
        request_no,
      </if>
      <if test="trxType != null" >
        trx_type,
      </if>
      <if test="riskDay != null" >
        risk_day,
      </if>
      <if test="bankTrxNo != null" >
        bank_trx_no,
      </if>
      <if test="trxGateway != null" >
        trx_gateway,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="accountNo != null" >
        #{accountNo,jdbcType=CHAR},
      </if>
      <if test="balance != null" >
        #{balance,jdbcType=DECIMAL},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="fundPositive != null" >
        #{fundPositive,jdbcType=BIT},
      </if>
      <if test="isAllowSett != null" >
        #{isAllowSett,jdbcType=BIT},
      </if>
      <if test="isCompleteSett != null" >
        #{isCompleteSett,jdbcType=BIT},
      </if>
      <if test="requestNo != null" >
        #{requestNo,jdbcType=VARCHAR},
      </if>
      <if test="trxType != null" >
        #{trxType,jdbcType=VARCHAR},
      </if>
      <if test="riskDay != null" >
        #{riskDay,jdbcType=SMALLINT},
      </if>
      <if test="bankTrxNo != null" >
        #{bankTrxNo,jdbcType=VARCHAR},
      </if>
      <if test="trxGateway != null" >
        #{trxGateway,jdbcType=CHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByCondition" parameterType="com.shixun.common.entity.AccountHistoryCriteria" resultType="java.lang.Integer" >
    select count(*) from t_account_history
    <if test="_parameter != null" >
      <include refid="Condition_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.shixun.common.entity.AccountHistory" >
    update t_account_history
    <set >
      <if test="accountNo != null" >
        account_no = #{accountNo,jdbcType=CHAR},
      </if>
      <if test="balance != null" >
        balance = #{balance,jdbcType=DECIMAL},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="fundPositive != null" >
        fund_positive = #{fundPositive,jdbcType=BIT},
      </if>
      <if test="isAllowSett != null" >
        is_allow_sett = #{isAllowSett,jdbcType=BIT},
      </if>
      <if test="isCompleteSett != null" >
        is_complete_sett = #{isCompleteSett,jdbcType=BIT},
      </if>
      <if test="requestNo != null" >
        request_no = #{requestNo,jdbcType=VARCHAR},
      </if>
      <if test="trxType != null" >
        trx_type = #{trxType,jdbcType=VARCHAR},
      </if>
      <if test="riskDay != null" >
        risk_day = #{riskDay,jdbcType=SMALLINT},
      </if>
      <if test="bankTrxNo != null" >
        bank_trx_no = #{bankTrxNo,jdbcType=VARCHAR},
      </if>
      <if test="trxGateway != null" >
        trx_gateway = #{trxGateway,jdbcType=CHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>